.input {
    background: rgb(214, 214, 214);
}

@media only screen and (max-width: 767px) {
    .dropdown {
        position: fixed;
        top: 17rem;
        right: -9rem;
        transform: translate(-50%, -50%);
    }
}
