$pink: #e10075;
$lightBlue: #3282b8;
$darkBlue: #1b262c;
$red: #f51a1a;
$white: #ffffff;
$gray: #8f8f8f;
$black: #000000;

:export {
    pink: $pink;
    lightBlue: $lightBlue;
    darkBlue: $darkBlue;
    red: $red;
    white: $white;
    gray: $gray;
    black: $black;
}
